/* Steps */

.step-marker {
  z-index: 10;
}

.step-divider {
  background: linear-gradient(to left, var(--light) 50%, var(--primary) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 100%;
  height: 5px;
  top: 30%;
}

.step-animated .step-divider {
  transition-property: background;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.steps-nav-item-active .step-marker {
  color: var(--primary);
  background-color: var(--white);
  border-color: var(--primary);
  border-width: 2px;
}

.steps-nav-item-active .step-divider {
  background: none;
  background: var(--primary);
}

.steps-nav-item-previous .step-marker {
  background: var(--primary);
  color: var(--white);
}

.steps-nav-item-previous .step-divider {
  background: none;
  background: var(--primary);
}

.step-link {
  pointer-events: none;
}

.step-link-clickable {
  pointer-events: all;
}
